*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    background: lightblue;
    justify-content: flex-start;
}

.banner{
    background: white;
    color: navy;
    font-size: 24px;
    margin: 100px auto 0;
    padding: 20px;
    width:fit-content;
    text-align: center;
    border: solid pink;
}

.banner h1{
    border: 1px solid chartreuse;
    border-width: 3px;
    justify-content: center;
}

.banner h2{
    font-size: 20px;
    color: red;
    padding: 5%;
    border-bottom: 1px solid black;
    margin-bottom: 5%;
}

#begin-quiz{
    background-color: lavender;
    color:navy;
    font-size: 32px;
    margin-bottom: 5%;
}

#begin-quiz:hover{
    background-color: cornflowerblue;
    color:white;
    transition: .2s;
}

.buttons{
    background-color: lavender;
    color:navy;
    font-size: 32px;
    margin-bottom: 5%;
}

.Quiz h2{
    color:navy;
    text-align: center;
    font-size: 36px;
}

.buttons{
    text-align: left;
    font-size: 20px;
    width: 100%;
}

.buttons:hover{
    background-color: cornflowerblue;
    color:white;
    transition: .2s;    
}
/*#question{

}
