*{
    margin: 0;
    padding: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    background: lightblue;
    justify-content: center;
}

.Quiz{
    width:650px;
    padding: 10px;
    background-color: aliceblue;
    border-width: 25px;

}

.options:hover{
    background-color: cornflowerblue;
    color:white;
    transition: .2s;    
}

.layout{
    display:grid;
    margin: 25px;
    gap: 5px;
}

.options{
    background-color: lavender;
    border: solid navy;
    padding: 10px;
}

#back-and-forth{
    align-items: center;
    text-align: center;
    justify-content: center;
    display: grid;    
}

.start-button{
    background-color: red;
    font-weight:bolder;
    font-size:20px;
}

.forward-game{
    background-color: paleturquoise;
    font-weight: bolder;
    font-size:20px;
}

.hide{
    display: none;
}

.correct{
    background-color: white;
    border: 5px solid green;
    font-weight:bold;
}

.wrong{
    background-color: black;
    color: white;
    border: 5px solid red;
    font-weight: bold;
}

header{
    color:navy;
    width: 50%;
    text-align: center;
    margin-bottom: 50px;
    padding: 5%;
    justify-content: first baseline;
}
header h3{
    color:darkslategray;
    padding: 5%;
}

#scoreboard{
    display: flex;
    text-align: center;
    height: fit-content;
    padding: 5%;
    color: lavender;
    background-color: navy;
}

#scoreboard h2{
    padding: 0;
    text-align: center;
    height:100%;
}

#saveUser{
    display: inline-block;
    justify-content: space-between;
}

#clearScores{
    display:inline-block;
    justify-content: space-between;    
}
